# Encontramos tu oficina

In [1]:
# librerias

import pandas as pd
pd.set_option('display.max_columns', None)

import re
import folium
import json

from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import DDL

**Carga de datos...**

In [2]:
data = [json.loads(e) for e in open('../datasets/companies.json', 'r')]

data[0]

In [3]:
df=pd.json_normalize(data)

df.head(3)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,updated_at,overview,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,_id.$oid,created_at.$date,image.available_sizes,acquisition.price_amount,acquisition.price_currency_code,acquisition.term_code,acquisition.source_url,acquisition.source_description,acquisition.acquired_year,acquisition.acquired_month,acquisition.acquired_day,acquisition.acquiring_company.name,acquisition.acquiring_company.permalink,acquisition,created_at,deadpooled_month,deadpooled_day,deadpooled_url,ipo,image.attribution,ipo.valuation_amount,ipo.valuation_currency_code,ipo.pub_year,ipo.pub_month,ipo.pub_day,ipo.stock_symbol,image
0,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005.0,10.0,17.0,1.0,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,Sun Dec 08 07:15:44 UTC 2013,<p>Wetpaint is a technology platform company t...,"[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],52cdef7c4bab8bd675297d8a,1.180076e+12,"[[[150, 75], assets/images/resized/0000/3604/3...",30000000.0,USD,cash_and_stock,http://allthingsd.com/20131216/viggle-tries-to...,Viggle Tries to Bulk Up Its Social TV Busines...,2013.0,12.0,16.0,Viggle,viggle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,1996.0,NaN,NaN,2.0,,Zoho ManageEngine,pr@adventnet.com,925-924-9500,Server Management Software,Wed Oct 31 18:26:09 UTC 2012,"<p>AdventNet is now <a href=""/company/zoho-man...",[],"[{'is_past': True, 'title': 'CEO and Co-Founde...",[],"[{'title': 'DHFH', 'is_past': True, 'provider'...",$0,[],[],[],"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],52cdef7c4bab8bd675297d8b,1.180121e+12,"[[[150, 55], assets/images/resized/0001/9732/1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,2005.0,9.0,15.0,3.0,"zoho, officesuite, spreadsheet, writer, projec...",,info@zohocorp.com,1-888-204-3539,Online Business Apps Suite,Wed Oct 30 00:07:05 UTC 2013,"<p>Zoho offers a suite of Business, Collaborat...","[{'name': 'Zoho Office Suite', 'permalink': 'z...","[{'is_past': False, 'title': 'CEO and Founder'...","[{'competitor': {'name': 'Empressr', 'permalin...",[],$0,[],[],[],"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],52cdef7c4bab8bd675297d8c,NaN,"[[[150, 55], assets/images/resized/0000/3946/3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fri May 25 19:30:28 UTC 2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df=pd.json_normalize(data,
                     record_path=['offices'],
                     meta=['category_code', 'name', 'number_of_employees',
                            'founded_year', 'total_money_raised'],
                     errors='ignore')

df.head()

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,category_code,name,number_of_employees,founded_year,total_money_raised
0,,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253,web,Wetpaint,47,2005,$39.8M
1,,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431,web,Wetpaint,47,2005,$39.8M
2,Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945,enterprise,AdventNet,600,1996,$0
3,Headquarters,4900 Hopyard Rd,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945,software,Zoho,1600,2005,$0
4,None,135 Mississippi St,,94107,San Francisco,CA,USA,37.764726,-122.394523,news,Digg,60,2004,$45M

In [5]:
df=df.dropna().reset_index(drop=True)
df=df.drop(columns=['description', 'address1', 'address2'])
df.name=df.name.apply(lambda x: x.replace("'", ''))
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3536 entries, 0 to 3535
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   zip_code             3536 non-null   object
 1   city                 3536 non-null   object
 2   state_code           3536 non-null   object
 3   country_code         3536 non-null   object
 4   latitude             3536 non-null   float64
 5   longitude            3536 non-null   float64
 6   category_code        3536 non-null   object
 7   name                 3536 non-null   object
 8   number_of_employees  3536 non-null   object
 9   founded_year         3536 non-null   object
 10  total_money_raised   3536 non-null   object
dtypes: float64(2), object(9)
memory usage: 1.8 MB

In [6]:
def exchange(serie_tmr):
    res=[]
    number=1
    symbol=1
    
    for e in serie_tmr:
        if e[-1]=='k': number=1e3
        elif e[-1]=='M': number=1e6
        elif e[-1]=='B': number=1e9
            
        if e[0]=='£': symbol=1.3
        elif e[0]=='€' : symbol=1.12
            
        n_tmr=re.findall('[0-9.]+', e)
        
        res.append(int(float(n_tmr[0])*number*symbol))
        
    return res

In [7]:
def classifying(date, employees):
    
    company_class=[]
    
    for i in range(len(date)):
        
        if date[i]>=2008 and employees[i]<100:
            company_class.append('StartUp')
            
        else:
            company_class.append('Big')
            
    return company_class

In [8]:
df['n_total_money']=exchange(df.total_money_raised)

df['company_class']=classifying(df.founded_year, df.number_of_employees)

df['id']=[i for i in range(len(df))]

df.tail()

,zip_code,city,state_code,country_code,latitude,longitude,category_code,name,number_of_employees,founded_year,total_money_raised,n_total_money,company_class,id
3531,,Sunnyvale,CA,USA,37.369195,-122.036849,advertising,InstantQ,3,2009,$0,0,StartUp,3531
3532,94403,San Mateo,CA,USA,37.553121,-122.301534,enterprise,NextLabs,100,2004,$0,0,Big,3532
3533,89511,Reno,NV,USA,39.394564,-119.812079,consulting,MyChances,2,2009,$0,0,StartUp,3533
3534,94025,Menlo Park,CA,USA,37.448491,-122.180281,consulting,MyChances,2,2009,$0,0,StartUp,3534
3535,33480,Palm Beach,FL,USA,26.705331,-80.041395,software,QSGI,164,1967,$0,0,Big,3535

**Pasando a PostGres...**

In [9]:
#!sudo -u iudh createdb officesbi

In [10]:
SCHEMA='officesbi'
str_conn=f'postgresql+psycopg2://iudh:password@localhost:5432/{SCHEMA}'

motor=create_engine(str_conn)

sesion=sessionmaker(bind=motor)()

In [11]:
# crea una tabla

motor.execute(DDL('drop table if exists companies'))

tabla='''
        create table companies(
            id integer primary key,
            zip_code text,
            city text,
            state_code text,
            country_code text,
            latitude double precision not null,
            longitude double precision not null,
            category_code text, 
            name text,
            number_of_employees integer,
            founded_year integer,
            total_money_raised text,
            n_total_money bigint,
            company_class text
        );

'''

motor.execute(DDL(tabla))

In [12]:
# insert query

for i in range(len(df)):
    
    insert_query='insert into {} ({}) values {};'\
                 .format('companies', ','.join(df.columns), tuple(df.iloc[i].values)).replace('"', "'")
    
    motor.execute(DDL(insert_query))
    
sesion.commit()

In [13]:
# check
list(motor.execute(DDL('select * from companies limit 2;')))

[(0, '98104', 'Seattle', 'WA', 'USA', 47.603122, -122.333253, 'web', 'Wetpaint', 47, 2005, '$39.8M', 39800000, 'Big'),
 (1, '10012', 'New York', 'NY', 'USA', 40.7237306, -73.9964312, 'web', 'Wetpaint', 47, 2005, '$39.8M', 39800000, 'Big')]

In [14]:
list(motor.execute(DDL('select * from pg_available_extensions order by "name"')))

[('address_standardizer', '3.1.1', None, 'Used to parse an address into constituent elements. Generally used to support geocoding address normalization step.'),
 ('address_standardizer_data_us', '3.1.1', None, 'Address Standardizer US dataset example'),
 ('adminpack', '2.1', None, 'administrative functions for PostgreSQL'),
 ('amcheck', '1.2', None, 'functions for verifying relation integrity'),
 ('autoinc', '1.0', None, 'functions for autoincrementing fields'),
 ('bloom', '1.0', None, 'bloom access method - signature file based index'),
 ('bool_plperl', '1.0', None, 'transform between bool and plperl'),
 ('bool_plperlu', '1.0', None, 'transform between bool and plperlu'),
 ('btree_gin', '1.3', None, 'support for indexing common datatypes in GIN'),
 ('btree_gist', '1.5', None, 'support for indexing common datatypes in GiST'),
 ('citext', '1.6', None, 'data type for case-insensitive character strings'),
 ('cube', '1.4', None, 'data type for multidimensional cubes'),
 ('dblink', '1.2', None, 'connect to other PostgreSQL databases from within a database'),
 ('dict_int', '1.0', None, 'text search dictionary template for integers'),
 ('dict_xsyn', '1.0', None, 'text search dictionary template for extended synonym processing'),
 ('earthdistance', '1.1', None, 'calculate great-circle distances on the surface of the Earth'),
 ('file_fdw', '1.0', None, 'foreign-data wrapper for flat file access'),
 ('fuzzystrmatch', '1.1', None, 'determine similarities and distance between strings'),
 ('hstore', '1.7', None, 'data type for storing sets of (key, value) pairs'),
 ('hstore_plperl', '1.0', None, 'transform between hstore and plperl'),
 ('hstore_plperlu', '1.0', None, 'transform between hstore and plperlu'),
 ('insert_username', '1.0', None, 'functions for tracking who changed a table'),
 ('intagg', '1.1', None, 'integer aggregator and enumerator (obsolete)'),
 ('intarray', '1.3', None, 'functions, operators, and index support for 1-D arrays of integers'),
 ('isn', '1.2', None, 'data types for international product numbering standards'),
 ('jsonb_plperl', '1.0', None, 'transform between jsonb and plperl'),
 ('jsonb_plperlu', '1.0', None, 'transform between jsonb and plperlu'),
 ('lo', '1.1', None, 'Large Object maintenance'),
 ('ltree', '1.2', None, 'data type for hierarchical tree-like structures'),
 ('moddatetime', '1.0', None, 'functions for tracking last modification time'),
 ('pageinspect', '1.8', None, 'inspect the contents of database pages at a low level'),
 ('pg_buffercache', '1.3', None, 'examine the shared buffer cache'),
 ('pg_freespacemap', '1.2', None, 'examine the free space map (FSM)'),
 ('pg_prewarm', '1.2', None, 'prewarm relation data'),
 ('pg_stat_statements', '1.8', None, 'track planning and execution statistics of all SQL statements executed'),
 ('pg_trgm', '1.5', None, 'text similarity measurement and index searching based on trigrams'),
 ('pg_visibility', '1.2', None, 'examine the visibility map (VM) and page-level visibility info'),
 ('pgcrypto', '1.3', None, 'cryptographic functions'),
 ('pgrowlocks', '1.2', None, 'show row-level locking information'),
 ('pgstattuple', '1.5', None, 'show tuple-level statistics'),
 ('plperl', '1.0', None, 'PL/Perl procedural language'),
 ('plperlu', '1.0', None, 'PL/PerlU untrusted procedural language'),
 ('plpgsql', '1.0', '1.0', 'PL/pgSQL procedural language'),
 ('pltcl', '1.0', None, 'PL/Tcl procedural language'),
 ('pltclu', '1.0', None, 'PL/TclU untrusted procedural language'),
 ('postgis', '3.1.1', None, 'PostGIS geometry and geography spatial types and functions'),
 ('postgis_raster', '3.1.1', None, 'PostGIS raster types and functions'),
 ('postgis_sfcgal', '3.1.1', None, 'PostGIS SFCGAL functions'),
 ('postgis_tiger_geocoder', '3.1.1', None, 'PostGIS tiger geocoder and reverse geocoder'),
 ('postgis_topology', '3.1.1', None, 'PostGIS topology spatial types and functions'),
 ('postgres_fdw', '1.0', None, 'foreign-data wrapper for remote PostgreSQL servers'),
 ('refint', '1.0', None, 'functions for implementing referential integrity (obsolete)'),
 ('seg', '1.3', None, 'data type for representing line segments or floating-point intervals'),
 ('sslinfo', '1.2', None, 'information about SSL certificates'),
 ('tablefunc', '1.0', None, 'functions that manipulate whole tables, including crosstab'),
 ('tcn', '1.0', None, 'Triggered change notifications'),
 ('tsm_system_rows', '1.0', None, 'TABLESAMPLE method which accepts number of rows as a limit'),
 ('tsm_system_time', '1.0', None, 'TABLESAMPLE method which accepts time in milliseconds as a limit'),
 ('unaccent', '1.1', None, 'text search dictionary that removes accents'),
 ('uuid-ossp', '1.1', None, 'generate universally unique identifiers (UUIDs)'),
 ('xml2', '1.1', None, 'XPath querying and XSLT')]

In [15]:
# Enable PostGIS (as of 3.0 contains just geometry/geography)
motor.execute(DDL("CREATE EXTENSION postgis;"))
# enable raster support (for 3+)
motor.execute(DDL("CREATE EXTENSION postgis_raster;"))
# Enable Topology
motor.execute(DDL("CREATE EXTENSION postgis_topology;"))
# Enable PostGIS Advanced 3D and other geoprocessing algorithms sfcgal not available with all distributions
motor.execute(DDL("CREATE EXTENSION postgis_sfcgal;"))
# fuzzy matching needed for Tiger
motor.execute(DDL("CREATE EXTENSION fuzzystrmatch;"))
# rule based standardizer
motor.execute(DDL("CREATE EXTENSION address_standardizer;"))
# example rule data set
motor.execute(DDL("CREATE EXTENSION address_standardizer_data_us;"))
# Enable US Tiger Geocoder
motor.execute(DDL("CREATE EXTENSION postgis_tiger_geocoder;"))

OperationalError: (psycopg2.errors.UndefinedFile) could not load library "/usr/local/lib/postgresql/postgis-3.so": dlopen(/usr/local/lib/postgresql/postgis-3.so, 10): Library not loaded: /usr/local/opt/boost/lib/libboost_thread-mt.dylib
  Referenced from: /usr/local/opt/sfcgal/lib/libSFCGAL.1.dylib
  Reason: image not found

[SQL: CREATE EXTENSION postgis;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
motor.execute(DDL("SELECT AddGeometryColumn ('', '','geom',4326,'POINT',2);"))

motor.execute(DDL("UPDATE TABLE your_table SET geom = ST_MakePoint(Longitude, Latitude);"))

motor.execute(DDL("CREATE INDEX my_index ON my_table USING GIST (geom);"))

motor.execute(DDL("SELECT * FROM your_table WHERE ST_DWithin(geom, ST_MakePoint(input_lon, input_lat),input_distance)"))

In [16]:
loc="SELECT * FROM companies WHERE ST_DWithin(Geography(ST_MakePoint(Longitude, Latitude)),Geography(ST_MakePoint(@Longitude, @Latitude)),@Range * 1000)"

In [17]:
list(motor.execute(DDL(loc)))

ProgrammingError: (psycopg2.errors.UndefinedFunction) function st_makepoint(double precision, double precision) does not exist
LINE 1: ...ELECT * FROM companies WHERE ST_DWithin(Geography(ST_MakePoi...
                                                             ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT * FROM companies WHERE ST_DWithin(Geography(ST_MakePoint(Longitude, Latitude)),Geography(ST_MakePoint(@Longitude, @Latitude)),@Range * 1000)]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
# geolocalizacion

def geoquery(df):
    
    list_money_mean=[]
    sb_ratio=[]
    n_companies=[]
    
    for i in range(len(df)):
        
        q=list(
            db.geoloc.find(
                {'geo_loc': {'$near':{'$geometry':{
                    'type':'Point',
                    'coordinates':[df.longitude[i], df.latitude[i]]
                },
                                     '$maxDistance':1000}}}
            )
        )
        
        l=len(q)
        
        money_mean=sum([q[j]['n_total_money'] for j in range(l)])/l
        
        list_money_mean.append(money_mean)
        
        big=sum([q[k]['company_class'].count('Big') if q[k]['company_class'].count('Big')!=0 else 1 for k in range(l)])
        start=sum([q[k]['company_class'].count('StartUp') for k in range(l)])
        
        sb_ratio.append(start/big)
        
        n_companies.append(l)
        
    df['around_companies']=n_companies

    df['money_density']=list_money_mean

    df['sb_ratio']=sb_ratio
        
    return df

In [ ]:
def geomap(df, zoom_start=12):
    
    if len(df)>=10:
        df.index=range(len(df)) 
        
        mapa=folium.Map(location=[0, 0],
                    tiles='openstreetmap', zoom_start=zoom_start)
        
        for i in range(1, len(df)):

            folium.CircleMarker([float(df.latitude[i]), float(df.longitude[i])], popup=str(df.name[i]), 
                                 radius=1, icon=folium.Icon()).add_to(mapa)

        mapa.save('../images/geomap.html')
    
    elif len(df)>1 and len(df)<10:
        df.index=range(len(df)) 
        
        mapa=folium.Map(location=[float(df.latitude[0]), float(df.longitude[0])],
                    tiles='openstreetmap', zoom_start=zoom_start)
        
        for i in range(1, len(df)):

            folium.Marker([float(df.latitude[i]), float(df.longitude[i])], popup=str(df.name[i]), 
                                 icon=folium.Icon(color='red')).add_to(mapa)

        mapa.save('../images/geomap.html')
       
    
    else:
        mapa=folium.Map(location=[float(df.latitude), float(df.longitude)],
                    tiles='openstreetmap', zoom_start=zoom_start)
        folium.Marker([float(df.latitude), float(df.longitude)], popup=str(df.name), 
                       icon=folium.Icon(color='red')).add_to(mapa)
        mapa.save('../images/geomap.html')
     
    
    return mapa

In [ ]:
df=geoquery(df)

df.head()

In [ ]:
df.describe()

In [ ]:
print('oficinas.')

mapa=geomap(df.loc[:1500], zoom_start=1.5)
mapa

In [ ]:
print ('Compañias alrededor=10, sb_ratio>0.45 y densidad monetaria>1.000.000$')
mapa2=geomap(df[(df['around_companies']>=10) & (df['sb_ratio']>0.45) & (df['money_density']>1e6)])
display (mapa2)

In [ ]:
print ('Compañias alrededor>=70, sb_ratio>0.25 y densidad monetaria>10.000.000$')
mapa3=geomap(df[(df['around_companies']>=70) & (df['sb_ratio']>0.25) & (df['money_density']>1e7)],
            zoom_start=15)
display (mapa3)