# Encontramos tu oficina

In [1]:
# librerias

import pandas as pd
pd.set_option('display.max_columns', None)

import re
import folium
import json

**Carga de datos...**

In [2]:
data = [json.loads(e) for e in open('../datasets/companies.json', 'r')]

data[0]

In [3]:
df=pd.json_normalize(data)

df.head(3)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,updated_at,overview,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,_id.$oid,created_at.$date,image.available_sizes,acquisition.price_amount,acquisition.price_currency_code,acquisition.term_code,acquisition.source_url,acquisition.source_description,acquisition.acquired_year,acquisition.acquired_month,acquisition.acquired_day,acquisition.acquiring_company.name,acquisition.acquiring_company.permalink,acquisition,created_at,deadpooled_month,deadpooled_day,deadpooled_url,ipo,image.attribution,ipo.valuation_amount,ipo.valuation_currency_code,ipo.pub_year,ipo.pub_month,ipo.pub_day,ipo.stock_symbol,image
0,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005.0,10.0,17.0,1.0,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,Sun Dec 08 07:15:44 UTC 2013,<p>Wetpaint is a technology platform company t...,"[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],52cdef7c4bab8bd675297d8a,1.180076e+12,"[[[150, 75], assets/images/resized/0000/3604/3...",30000000.0,USD,cash_and_stock,http://allthingsd.com/20131216/viggle-tries-to...,Viggle Tries to Bulk Up Its Social TV Busines...,2013.0,12.0,16.0,Viggle,viggle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,1996.0,NaN,NaN,2.0,,Zoho ManageEngine,pr@adventnet.com,925-924-9500,Server Management Software,Wed Oct 31 18:26:09 UTC 2012,"<p>AdventNet is now <a href=""/company/zoho-man...",[],"[{'is_past': True, 'title': 'CEO and Co-Founde...",[],"[{'title': 'DHFH', 'is_past': True, 'provider'...",$0,[],[],[],"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],52cdef7c4bab8bd675297d8b,1.180121e+12,"[[[150, 55], assets/images/resized/0001/9732/1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,2005.0,9.0,15.0,3.0,"zoho, officesuite, spreadsheet, writer, projec...",,info@zohocorp.com,1-888-204-3539,Online Business Apps Suite,Wed Oct 30 00:07:05 UTC 2013,"<p>Zoho offers a suite of Business, Collaborat...","[{'name': 'Zoho Office Suite', 'permalink': 'z...","[{'is_past': False, 'title': 'CEO and Founder'...","[{'competitor': {'name': 'Empressr', 'permalin...",[],$0,[],[],[],"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],52cdef7c4bab8bd675297d8c,NaN,"[[[150, 55], assets/images/resized/0000/3946/3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fri May 25 19:30:28 UTC 2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df=pd.json_normalize(data,
                     record_path=['offices'],
                     meta=['category_code', 'name', 'number_of_employees',
                            'founded_year', 'total_money_raised'],
                     errors='ignore')

df.head()

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,category_code,name,number_of_employees,founded_year,total_money_raised
0,,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253,web,Wetpaint,47,2005,$39.8M
1,,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431,web,Wetpaint,47,2005,$39.8M
2,Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945,enterprise,AdventNet,600,1996,$0
3,Headquarters,4900 Hopyard Rd,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945,software,Zoho,1600,2005,$0
4,None,135 Mississippi St,,94107,San Francisco,CA,USA,37.764726,-122.394523,news,Digg,60,2004,$45M

In [15]:
df=df.dropna().reset_index(drop=True)
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3536 entries, 0 to 3535
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          3536 non-null   object
 1   address1             3536 non-null   object
 2   address2             3536 non-null   object
 3   zip_code             3536 non-null   object
 4   city                 3536 non-null   object
 5   state_code           3536 non-null   object
 6   country_code         3536 non-null   object
 7   latitude             3536 non-null   float64
 8   longitude            3536 non-null   float64
 9   category_code        3536 non-null   object
 10  name                 3536 non-null   object
 11  number_of_employees  3536 non-null   object
 12  founded_year         3536 non-null   object
 13  total_money_raised   3536 non-null   object
dtypes: float64(2), object(12)
memory usage: 2.5 MB

In [5]:
def exchange(serie_tmr):
    res=[]
    number=1
    symbol=1
    
    for e in serie_tmr:
        if e[-1]=='k': number=1e3
        elif e[-1]=='M': number=1e6
        elif e[-1]=='B': number=1e9
            
        if e[0]=='£': symbol=1.3
        elif e[0]=='€' : symbol=1.12
            
        n_tmr=re.findall('[0-9.]+', e)
        
        res.append(int(float(n_tmr[0])*number*symbol))
        
    return res

In [6]:
def classifying(date, employees):
    
    company_class=[]
    
    for i in range(len(date)):
        
        if date[i]>=2008 and employees[i]<100:
            company_class.append('StartUp')
            
        else:
            company_class.append('Big')
            
    return company_class

In [16]:
df['n_total_money']=exchange(df.total_money_raised)

df['company_class']=classifying(df.founded_year, df.number_of_employees)

df.tail()

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,category_code,name,number_of_employees,founded_year,total_money_raised,n_total_money,company_class
0,,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253,web,Wetpaint,47,2005,$39.8M,39800000,Big
1,,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431,web,Wetpaint,47,2005,$39.8M,39800000,Big
2,Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945,enterprise,AdventNet,600,1996,$0,0,Big
3,Headquarters,4900 Hopyard Rd,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945,software,Zoho,1600,2005,$0,0,Big
4,Headquarters,1601 Willow Road,,94025,Menlo Park,CA,USA,37.416050,-122.151801,social,Facebook,5299,2004,$2.43B,2430000000,Big

**Pasando a PostGres...**

In [ ]:
# insertar en Mongo

# df.to_json('geoloc.json', orient='records', lines=True)ł|@#~½

In [ ]:
db.geoloc.insert_many(df.to_dict('records'))

In [ ]:
# crear indice 2D

db.geoloc.create_index([('geo_loc', '2dsphere')])

In [ ]:
# geolocalizacion

def geoquery(df):
    
    list_money_mean=[]
    sb_ratio=[]
    n_companies=[]
    
    for i in range(len(df)):
        
        q=list(
            db.geoloc.find(
                {'geo_loc': {'$near':{'$geometry':{
                    'type':'Point',
                    'coordinates':[df.longitude[i], df.latitude[i]]
                },
                                     '$maxDistance':1000}}}
            )
        )
        
        l=len(q)
        
        money_mean=sum([q[j]['n_total_money'] for j in range(l)])/l
        
        list_money_mean.append(money_mean)
        
        big=sum([q[k]['company_class'].count('Big') if q[k]['company_class'].count('Big')!=0 else 1 for k in range(l)])
        start=sum([q[k]['company_class'].count('StartUp') for k in range(l)])
        
        sb_ratio.append(start/big)
        
        n_companies.append(l)
        
    df['around_companies']=n_companies

    df['money_density']=list_money_mean

    df['sb_ratio']=sb_ratio
        
    return df

In [ ]:
def geomap(df, zoom_start=12):
    
    if len(df)>=10:
        df.index=range(len(df)) 
        
        mapa=folium.Map(location=[0, 0],
                    tiles='openstreetmap', zoom_start=zoom_start)
        
        for i in range(1, len(df)):

            folium.CircleMarker([float(df.latitude[i]), float(df.longitude[i])], popup=str(df.name[i]), 
                                 radius=1, icon=folium.Icon()).add_to(mapa)

        mapa.save('../images/geomap.html')
    
    elif len(df)>1 and len(df)<10:
        df.index=range(len(df)) 
        
        mapa=folium.Map(location=[float(df.latitude[0]), float(df.longitude[0])],
                    tiles='openstreetmap', zoom_start=zoom_start)
        
        for i in range(1, len(df)):

            folium.Marker([float(df.latitude[i]), float(df.longitude[i])], popup=str(df.name[i]), 
                                 icon=folium.Icon(color='red')).add_to(mapa)

        mapa.save('../images/geomap.html')
       
    
    else:
        mapa=folium.Map(location=[float(df.latitude), float(df.longitude)],
                    tiles='openstreetmap', zoom_start=zoom_start)
        folium.Marker([float(df.latitude), float(df.longitude)], popup=str(df.name), 
                       icon=folium.Icon(color='red')).add_to(mapa)
        mapa.save('../images/geomap.html')
     
    
    return mapa

In [ ]:
df=geoquery(df)

df.head()

In [ ]:
df.describe()

In [ ]:
print('oficinas.')

mapa=geomap(df.loc[:1500], zoom_start=1.5)
mapa

In [ ]:
print ('Compañias alrededor=10, sb_ratio>0.45 y densidad monetaria>1.000.000$')
mapa2=geomap(df[(df['around_companies']>=10) & (df['sb_ratio']>0.45) & (df['money_density']>1e6)])
display (mapa2)

In [ ]:
print ('Compañias alrededor>=70, sb_ratio>0.25 y densidad monetaria>10.000.000$')
mapa3=geomap(df[(df['around_companies']>=70) & (df['sb_ratio']>0.25) & (df['money_density']>1e7)],
            zoom_start=15)
display (mapa3)